html, body {
    margin: 0;
    height: 100vh;
}

#main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 610px;
    width: 400px;
    border: 1px solid #e2e2e2;
    border-radius: 8px;
}

#main h2 {
    font-family: 'Roboto';
    font-size: 28px;
    font-weight: 300;
    position: absolute;
    bottom: -10px;
    left: 15px;
}

#main-infobar {
    height: 60px;
    position: relative;
    cursor: default;
}

.btn {
    background-color: #3063ec;
    text-align: center;
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 16px;
}

.inactive {
    filter: grayscale(1);
    opacity: 0.3;
}

#reset-btn {
    height: 40px;
    width: 100px;
    border-radius: 20px;
    font-weight: 500;
    box-sizing: border-box;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

#reset-icon {
    height: 18px;
    width: 18px;
    background-image: url('assets/reset.png');
    background-size: cover;
    float: left;
    margin-right: 10px;
}

#reset-btn-content {
    text-align: left;
    width: 70px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}

#reset-btn:hover {
    border: 2px solid #3063ec;
    color: #3063ec;
    background-color: #ffffff;
    cursor: pointer;
}

#reset-btn:hover #reset-btn-content {
    margin-top: 8px;
}

#reset-btn:hover #reset-icon {
    background-image: url('assets/reset-blue.png');
}

#render_canvas {
    width: 400px;
    height: 550px;
    background-color: #303036;
    border-radius: 8px;
}

#end {
    display: none;
    position: absolute;
    height: 400px;
    width: 400px;
    border-radius: 8px;
    bottom: 150px;
    background-color: rgba(23,23,23,0.5);
    backdrop-filter: blur(4px);
}

#end-box {
    height: fit-content;
    width: fit-content;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

#end-box h2 {
    position: relative;
    text-align: center;
    top: 0;
    left: 0;
    font-size: 32px;
    font-weight: 500;
    width: 300px;
    height: 30px;
    color: #ffffff;
}

#end-box .btn {
    height: 30px;
    width: 120px;
    border-radius: 20px;
    padding-top: 10px;
    display: block;
    margin: 0 auto;
    margin-top: -10px;
    transition: 0.1s ease-out;
    cursor: pointer;
}

#end-box .btn:hover {
    background-color: #2c59d4;
}

#images {
    display: none;
}

::selection {
    background-color: none;
}